@{
    ViewBag.Title = "Error";
}

<div class="flex-column center-page">

    <img src="~/StatusCodes/execption.gif" alt="Exception-500" asp-append-version=true />
    <span class="text-red text-largeBolded">@ViewBag.Error</span>

</div>