@{
    ViewBag.SubTitle = "Error";
}

<div class="flexColumn center-page">

    <img src="~/StatusCodes/execption.gif" alt="Exception-500" asp-append-version=true />
    <span class="text-red text-largeBolded">Error Occurred</span>

</div>