@model UserTripWrapperModel
@{
    ViewBag.Title = "Successful Registration";
}
<div class="flexColumn bordering center-page p-4">
    <p class="title">Hope a nice Trip.</p>

    @{
        await Html.RenderPartialAsync(partialViewName: "_ReservationPartialView", model: Model);
    }


    @await Component.InvokeAsync("QR", Model)

    <div class="flexRow center-page">
        <a class="btn btn-outline-success" asp-controller="Trips" asp-action="ShowPdf" asp-route-TripId="@Model.TheTripResponse.Id" asp-route-UserId="@Model.TheUserDTO.UserId" asp-area="user" role="button">Print</a>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index" role="button">Go to Home</a>
    </div>
</div>


