.flexColumn {
    display : flex;
    flex-direction : column
}

.flexRow {
    display: flex;
    flex-direction: column
}

.flexing{
    display: flex;
}

.center-page{
    justify-content:center;
    align-items:center;
}

.text-red{
    color:darkred;
}

.text-largeBolded{
    font-size:xx-large;
    font-weight:bolder;
}

.pad-form{
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 10vw
}

.bordering {
    box-sizing:content-box;
    border : solid gray;
    margin : 1vw 20vw 1vw 20vw
}