.flexColumn {
    display : flex;
    flex-direction : column
}

.flexRow {
    display: flex;
    flex-direction: row
}

.flexing{
    display: flex;
}

.center-page{
    justify-content:center;
    align-items:center;
}

.text-red{
    color:darkred;
}

.text-largeBolded{
    font-size:xx-large;
    font-weight:bolder;
}

.pad-form{
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 10vw
}

.bordering {
    box-sizing:content-box;
    border : solid gray;
    margin : 1vw 20vw 1vw 20vw
}

.body-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgba(61, 55, 58, 1);
    font-size: large
}

.w-50{
    width: 50vw
}

.h-30{
    height: 30vw
}

#show_lines_anchorTag:link, #show_lines_anchorTag:visited, #show_lines_anchorTag:hover, #show_lines_anchorTag:active {
    text-decoration: none;
    color: rgba(61, 55, 58, 1);
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    text-align: center
}